.toast-top-center {
    margin-top: 20px;
}

.fc-agenda-view .fc-day-grid {
    position: relative;
    z-index: 2
}

.fc-agenda-view .fc-day-grid .fc-row {
    min-height: 3em
}

.fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton {
    padding-bottom: 1em
}

.modal-backdrop
{
    opacity:0.65 !important;
}

#loader{
    /*
    #23232b For BG
    */
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #23232b url('../../assets/media/gif/raccoon_3.gif') no-repeat center;
    z-index: 999;
}


.loader{
    width: 50px;
    height: 50px;
    border-radius: 25%;
    position: relative;
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 35%;
}

/* LOADER 1 */

#loader-1:before, #loader-1:after{
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 10px solid transparent;
    border-top-color: #3498db;
}

#loader-1:before{
    z-index: 100;
    animation: spin 1s infinite;
}

#loader-1:after{
    border: 10px solid #ccc;
}

@keyframes spin{
    0%{
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
